nav{
  background: url(../images/header_bg.png);
  width: 100%;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

nav img {
  width: 30px;
}

.spinner-container {
  text-align: center;
}

.spinner {
  font-size: 30px;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
  from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
  to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

